@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

$white : white;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
}


#input {
  display: flex;
  flex-direction: column;

  #placeholder {
    color: $white;
    font-size: 1.8rem;
  }

  input {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-align: center; 

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $white
    }
  }

  // #current_typing {
  //   // max-width: 79px;
  // }

  #current_typing,
  #message {
    font-size: 1.8rem;
    // text-align: center;
    align-self: center;
  }

  #message {
    color: red;
    margin-bottom: 20px;
  }
}

#big_wrapper {
  width: 100%;
  height: 100vh;
  background: #11998e;
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);
}

#container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  max-width: 940px;
  margin: 0 auto;
  height: inherit;
  padding: 35px 0px 60px 0px;

  #outputs {
    display: flex;
    font-size: 2rem;

    .score,
    .time {
      &:first-child {
        margin-right: 20px;
      }

      font-weight: 400;
      color: $white;
      font-size: 2rem;

      span {
        font-size: 2rem;
      }
    }
  }

  h1#current_word span {
    font-size: 6rem;
    text-align: center;
    color: white;
  }
}

.is-matched {
  background: tomato;
}